.ShoppingButton {
}

.shoppingButtonCart {
  border-radius: 30px;
}

.shoppingButtonInfo {
  text-align: end;
  margin-right: 15px;
  font-size: small;
}

.shoppingButtonInfo span:nth-child(2) {
  display: block;
}

.shoopingButton {
  display: flex;
}
