.select-search {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1rem;
  }


  .select-search-label {
    margin-bottom: 0.5rem;
  }