.CartItemVariant {
}

.cartItemVariant {
  display: flex;
  align-items: center;
}

.cartItemVariantAction{
  font-size: 30px;
  padding-left: 5%;
  cursor: pointer;
}

.cartItemVariantBox {
  border: 2px solid darkgray;
  border-radius: 15px;
  margin: 5px 0px 5px 50px;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

.cartItemVariantCount {
  margin-left: 20px;
}

.cartItemVariantCount input {
  width: 30px;
}

.cartItemVariantInfo {
  margin-left: 30px;
}

.cartItemVariantBrand {
  font-size: 12px;
}

.cartItemVariantBrand input {
  width: 150px;
}

.cartItemVariantModel input {
  width: 150px;
}

.cartItemVariantPrice {
  margin: auto;
  margin-right: 50px;
}

.cartItemVariantPrice input:nth-child(2) {
    margin-left: 5px;
    width: 70px;
}

.cartItemVariantBarcode {
  margin-right: 10px;
  font-size: 25px;
}

.inputBorderless {
  border: 0;
  margin: auto;
}
