.CreateVariant {}


.barcode-button{
    font-size: 24px;
    padding: 0px 10px 0px 10px;
}

.button-bar{
    margin-top: 25px;
    margin-right: 10px;
}

.button-bar :first-child {
    margin-right: 10px;
  }