.ListCart {}

.cartItem{
    display: flex;
    height: 80px;
    padding: 10px;
    align-items: center;
    border: 2px solid darkgray;
    border-radius: 30px;
}

.cartItemImage{
    width: 50px;
    margin-left: 25px;
    margin-right: 15px;
}

.cartItemImage img {
    width: 100%;;
}

.cartItemChevron {
}

.cartItemCount {
    margin-right: 20px;
}

.cartItemPrice {
    margin: auto;
    margin-right: 50px;
}

.cartItemCheck {
    margin-right: 10px;
    font-size: 25px;
}

